<div class="container my-3">

    <ngb-carousel *ngIf="carouImgs" >
      <ng-template ngbSlide  *ngFor='let i of carouImgs' >
        <div >
                <img [src]="i" alt="carousel slide"  height="300" style=" width:100%; vertical-align: middle;" > <!--using width 100% made the picture perfect as it shud be-->

            <!-- <div class="carousel-caption">
                <h3>First Slide</h3>
                
            </div> -->
        </div>
      </ng-template>
    </ngb-carousel>

</div>