<div class="container-fluid " style="background-color: #8AF3FF;">
    <div class="pt-3"><a style="color: #fcb456;font-size: 200%;" href="#" routerLink='/home' ><img src="http://127.0.0.1:8000/static/Fashionise_logo03.png" alt="" width="200px"></a></div>
    <div class="row my-3">
        <div class="col-8">
            <div class="row">
                <div class="col-4">
                    <p routerLink='/login'>Login</p>
                    <p routerLink='/signup'>SignUp</p>
                </div>
                <div class="col-4">
                    <p routerLink='/men'>Men</p>
                    <p routerLink='/women'>Women</p>
                    <p routerLink='/kids'>Kids</p>
                    <p>Best Sellers</p>

                </div>
                <div class="col-4">
                    <p routerLink='/profile'>Profile</p>
                    <p> <!--routerLink='/orderHistory'--> Order History</p>
                </div>

            </div>
        </div>
        <div class="col-4" style="font-size: larger;font-weight:450;">
            <p routerLink='/about'>About Us</p>
            <p routerLink='/resources'>Resources</p>
        </div>

    </div>


<hr class="solid">



</div>
