<div class="container-fluid " style="background-color: #8AF3FF;">
    <div ><a style="color: #fcb456;font-size: 200%;" href="#" routerLink='/home' >MySiteName</a></div>
    <p class='text-center quicksand' style="font-size: larger;font-weight: bold;" >Follow us on</p> 
    <div class="row quicksand pb-5 pt-2">
        
        <div class="col ">
            <p class='text-center'>Pranav Dabre</p>
            <div class="row">
                <div class="col-2"></div>
                <div class="col text-center"><a href="https://github.com/pranav-dabre"><img src="http://127.0.0.1:8000/static/github.png" style="width: 25px;" alt="github"></a></div>
                <div class="col text-center"><a href="https://www.linkedin.com/in/pranav-dabre"><img src="http://127.0.0.1:8000/static/linkedin.png" style="width: 25px;" alt="linkedin"></a></div>
                <div class="col-2"></div>
            </div>
            
        </div>
        <div class="col-2"></div>
        <div class="col ">
            <p class='text-center'>Tushar Gavkhare</p>
            <div class="row">
                <div class="col-2"></div>
                <div class="col text-center"><a href="#"><img src="http://127.0.0.1:8000/static/github.png" style="width: 25px;" alt="github"></a></div>
                <div class="col text-center"><a href="https://www.linkedin.com/in/tushar-gavkhare-243ab5203/"><img src="http://127.0.0.1:8000/static/linkedin.png" style="width: 25px;" alt="linkedin"></a></div>
                <div class="col-2"></div>
            </div>
            
        </div>

    </div>
</div>
