/* You can add global styles to this file, and also import other style files */
.center{
    text-align: center;
    margin-top: 5%; 
    
}

.quicksand{
    font-family: 'Quicksand';
    
    
}

.hovershadow:hover{
    
    box-shadow: 0 0 11px rgba(88, 88, 88, 0.2); 
}


.bottom-position{
    position: absolute;
    width: 100%;
    bottom: 0;
}