 
  <h1 class='quicksand text-center'>Women's Section</h1>
  
  <!-- cards -->
  <div>
      <div class='row p-3'>
        <div class='col-sm-3 py-3' *ngFor= "let i of cardsContent"> <!-- cardsContent array is defined in app.component.ts inside export class-->
          <app-cards [cardImage]='i.cardImage' [cardTitle]='i.cardTitle' [cardWriteup]='i.cardWriteup' [cardId]='i.cardId'></app-cards>
    
        </div>
      </div>
    
  </div>
  
  <!-- <div>
    <app-footer></app-footer>
  </div> -->
