<h1 class="quicksand py-4 text-center">Developers</h1>
<h3 class='text-center quicksand' style="font-size: larger;font-weight: bold;" >Follow us on</h3> 
<div class="row quicksand pb-5 pt-2">
    
    <div class="col ">
        <p class='text-center' style="font-weight: bold;font-size: x-large;">Pranav Dabre</p>
        <div class="row">
            <div class="col-2"></div>
            <div class="col text-center"><a href="https://www.linkedin.com/in/pranav-dabre"><img src="http://127.0.0.1:8000/static/linkedin.png" style="width: 35px;" alt="linkedin"></a></div>
            <div class="col text-center"><a href="https://github.com/pranav-dabre"><img src="http://127.0.0.1:8000/static/github.png" style="width: 35px;" alt="github"></a></div>
            
            <div class="col-2"></div>
        </div>
        
    </div>
    <div class="col-2"></div>
    <div class="col ">
        <p class='text-center' style="font-size: x-large;">Tushar Gavkhare</p>
        <div class="row">
            <div class="col-2"></div>
            <div class="col text-center"><a href="https://www.linkedin.com/in/tushar-gavkhare-243ab5203/"><img src="http://127.0.0.1:8000/static/linkedin.png" style="width: 35px;" alt="linkedin"></a></div>
            <div class="col text-center"><a href="https://github.com/PrinceTG80"><img src="http://127.0.0.1:8000/static/github.png" style="width: 35px;" alt="github"></a></div>
            <div class="col-2"></div>
        </div>
        
    </div>

</div>