<div class="background">
    <div class="row py-5">
    <div class="col"></div>
    <div class="col-sm-4 center border border-primary py-2 shadow-lg quicksand" style="background-color: rgba(255, 255, 255, 0.61);">
            <h3 style="font-weight: bold;">Profile</h3>
            <h5 style="font-weight: 600;">Username: <span style="font-weight: normal;">{{Tname}}</span> </h5> 
            <h5 style="font-weight: 600;">Email Id: <span style="font-weight: normal;">{{Tmail}}</span></h5> 
            <h5 style="font-weight: 600;">Mobile Number: <span style="font-weight: normal;">{{Tnum}}</span></h5> 
    </div>
    <div class="col"></div>
    </div>
</div>


<!-- <div class="bottom-position">
<app-footer></app-footer>
</div> -->